body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid white;
    
}

.logo{
    margin-left: 5%;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul{
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navigation{
    display: flex;
    margin-right: 3%;
}

.navigation:hover{
    color:rgb(46, 152, 244)
}

/* header end */

.main{
    flex: 1;
}
/* section 1 */
.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
   
    
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80%;
    background-color: black;
    

}


/* section 2 */
.horizontal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 20px;
}

.horizontal_container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    flex: 1;
    height: 60%;
    border: 1px solid white;
}

.horizontal_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 90%;
    height: 85%;
    border: 1px solid white;
}

/* section 3 */

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 70px;
}

.wide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    
    
}

.image1{
    width: 120px;
    height: 120px;
    background-color: black;
    margin: 30px;
    color: white;
}


/* main end */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}