body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.logo{
    margin-left: 5%;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul{
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navigation{
    display: flex;
    margin-right: 3%;
}

/* header end */

.main{
    flex: 1;
}

.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
   
    
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80%;
    background-color: black;
    

}

/* main end */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}